body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}
.App {
    /* margin: 90px 0px 90px 0px; */
}
.terminal-background{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../images/screenbg.png); */
    background-repeat: no-repeat;
    background-position: center; /* Размер изображения из переменной */
    transition: background-size 0.3s ease-in-out; /* Плавное изменение размера */
}
* {
    user-select: none; /* Запрещает выделение текста */
    -webkit-user-select: none; /* Для поддержки старых версий браузеров */
    -moz-user-select: none; /* Для Firefox */
    -ms-user-select: none; /* Для Internet Explorer */
}