/* Mobile Styles */

/* Extra Small Devices, Phones (less than 600px) */
@media only screen and (max-width: 599px) {
    span{
        font-size: 13px;
    }
    .textContainer{
        width: 95%;
    }
    .hover-display{

        right: 54px;
        bottom: 5%;
        height: 115px;
    }
    .hover-display>span{
        font-size: 23px;
    }
    .profile-container{
        max-width: 100%;
        align-items: flex-start;
    }
}

/* Small Devices, Phones (600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    span{
        font-size: 20px;
        letter-spacing: normal;
    }
    .hover-display{
        right: 5%;
        bottom: 0;
        height: 115px;
       }
}

/* Medium Devices, Tablets (768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .terminal-lines{
        max-width: 95%;
    }
    .hover-display{
        right: 5%;
        bottom: 0;
        height: 115px;
       }
       .cv-container{
           min-width: 90%;
           max-width: 95%;

       }
       .profile-container{
        align-self: center;
       }
}

/* Large Devices, Desktops (992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1259px) {
   .hover-display{
    right: 10%;
    bottom: 0;
    height: 115px;
   }
}
